body {
    background-size: cover;
    background: url(./images/background.jpg);
    height: 100vh;
    margin: 0;
}

.description {
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.humidity, .wind {
    font-size: 30px;
    padding: 20px;
}

.temp {
    font-size: 30px;
}

.btn {
    background-color: rgb(138, 215, 172);
}

.btn:hover {
    background-color: rgb(28, 72, 58);
}

.search-bar {
    width: 400px;
    align-items: center;
    justify-content: center;
}